environment       = "dev"
location          = "eastus2"
app_name          = "azure3tier"
db_admin_username = "pgadmin"
db_admin_password = "SecurePassword123!"
container_image_tag = "latest"

tags = {
  Project     = "Azure-3Tier-DevOps-Assessment"
  ManagedBy   = "Terraform"
  Environment = "dev"
  Owner       = "DevOps-Candidate"
}
